@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");

body {
  background-color: #000000;
  margin: 4em;
}

.header {
  color: rgba(240, 241, 199, 0.984);
  font-family: "Lora", serif;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.container img {
  object-fit: cover;
  padding: 0 20px 20px;
  width: 400px;
  height: 400px;
}