@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");

body {
  background-color: #000000;
  margin: 4em;
}

.header {
  color: rgba(240, 241, 199, 0.984);
  font-family: "Lora", serif;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  grid-auto-flow: dense;
}

.container img {
  width: 100%;
  height: 100%;
}
