name: generate_html

on: push

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
        - name: Checkout
          uses: actions/checkout@v2
          with:
            fetch-depth: 0

        - name: Generate html
          run: ./generate.sh

        - uses: EndBug/add-and-commit@v4 
          with:
            add: "index.html"
            author_name: GitHubAction
            message: "Generate new version of index.html"

        env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}